.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.container a::before {
  content: "❮ ";
}

.container a::after {
  content: " ❯";
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: unset;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .container a {
    color: white;
  }
}
