.container {
  height: 100vh;;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto auto 50px;
  grid-template-areas: 
    "sidebar main"
    "sidebar main"
    "footer main"
}

main.body {
  grid-area: main;
  overflow-y: scroll;
}

aside.sidebar {
  grid-area: sidebar;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-areas: 
      "sidebar sidebar"
      "main main"
      "footer footer"
  }
}