.container {
  display: flex;
}

.loadingColumn {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.loader {
  margin-top: 8px;
  height: 120px;
}

.codeLoader {
  margin-top: 8px;
  height: 80px;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .loadingColumn {
    flex: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .loader {
    opacity: 0.25;
  }
  
  .codeLoader {
    opacity: 0.25;
  }
}