.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto auto 50px;
  grid-template-areas: 
    "sidebar main"
    "sidebar main"
    "footer main";
  overflow-y: scroll;
  overflow-x: hidden;
}

main.body {
  width: 100%;
  grid-area: main;
}

aside.sidebar {
  grid-area: sidebar;
}

div.footer {
  grid-area: footer;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-rows: 200px auto 50px;
    grid-template-areas: 
      "sidebar sidebar"
      "main main"
      "footer footer"
  }
}