.container {
  padding: 4rem;
  width: 100%;
  height: 100%;
}


/*
  Styling for actual blog content
*/
p.p1 {
  font-size: 16px !important;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 1rem;
  }
}